html {
  height: 100%;
  margin: auto;
  width: 960px;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-image: url("assets/sciencebackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: whitesmoke;
}

#ontop {
  position: absolute;
  top: 0;
  left: 0;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

p {
  color:white
}